
data/entities/WS_Europe.mat

data/results/Anatol_severity.mat

data/results/DagmarPatrick_severity.mat

data/results/Daria_severity.mat

data/results/ECHAM_CTL_severity.mat

data/results/Emma_severity.mat

data/results/ERA40_severity.mat

data/results/ErwinGudrun_severity.mat

data/results/ETHC_CTL_severity.mat

data/results/Gero_severity.mat

data/results/GKSS_CTL_severity.mat

data/results/Great87_severity.mat

data/results/Herta_severity.mat

data/results/Klaus_severity.mat

data/results/Kyrill_severity.mat

data/results/Lothar_severity.mat

data/results/Martin_severity.mat

data/results/reference_severity.mat

data/results/Ulli_severity.mat

data/results/Vivian_severity.mat

data/results/Wiebke_severity.mat

data/results/Xynthia_severity.mat

data/validation/Anatol_biasMean.mat

data/validation/Dagmar_Patrick_biasMean.mat

data/validation/Daria_biasMean.mat

data/validation/Emma_biasMean.mat

data/validation/Erwin_Gudrun_biasMean.mat

data/validation/Gero_biasMean.mat

data/validation/Great87_biasMean.mat

data/validation/Herta_biasMean.mat

data/validation/Klaus_biasMean.mat

data/validation/Kyrill_biasMean.mat

data/validation/Lothar_biasMean.mat

data/validation/Martin_biasMean.mat

data/validation/Ulli_biasMean.mat

data/validation/Vivian_biasMean.mat

data/validation/Wiebke_biasMean.mat

data/validation/Xynthia_biasMean.mat

data/hazards/WS_Europe.mat

data/validation/Anatol_biasU95.csv

data/validation/Dagmar_Patrick_biasU95.csv

data/validation/Daria_biasU95.csv

data/validation/Emma_biasU95.csv

data/validation/Erwin_Gudrun_biasU95.csv

data/validation/Gero_biasU95.csv

data/validation/Great87_biasU95.csv

data/validation/Herta_biasU95.csv

data/validation/Klaus_biasU95.csv

data/validation/Kyrill_biasU95.csv

data/validation/Lothar_biasU95.csv

data/validation/Martin_biasU95.csv

data/validation/Ulli_biasU95.csv

data/validation/Vivian_biasU95.csv

data/validation/Wiebke_biasU95.csv

data/validation/Xynthia_biasU95.csv

data/hazards/WS_Europe_blend.mat

data/hazards/WS_Europe2.mat

data/results/Europe_blend_severity.mat

data/results/Europe_severity.mat
